table {
    width: 100%;
  }

.mat-item-update{
  color:rgba(255,0,204,0.8);
font-weight: bold;
}
.mat-item-delete{
  color: rgba(250, 40, 12, 0.952);
  font-weight: bold;
} 
#menuBox{
  border-radius: 30%;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}