table {
  width: 100%;
}

.mat-item-update {
  color: rgba(255, 0, 204, 0.8);
  font-weight: bold;
}

.mat-item-delete {
  color: rgba(250, 40, 12, 0.952);
  font-weight: bold;
}

#menuBox {
  border-radius: 30%;
}

.pupupspinner {
  z-index: 1;
  position: absolute;
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
